Based on content from Jake VanderPlas's Whirlwind Tour of Python

# Dictionaries

dictionaries (dicts) are unordered mappings of keys to values. If you are coming from r, you can think of them as named vectors, except like lists, they can contain different types of data

The *normal* way to create dictionaries are with curly braces `{}` and colons `:`

In [1]:
people = {'adam':25 , 'bob': 19, 'carl': 30}

In [2]:
people

{'adam': 25, 'bob': 19, 'carl': 30}

Dictionaries can also be created by calling dict after zipping two lists together:

In [3]:
people2 = dict( zip( ['adam','bob','carl'] , [25, 19, 30] ) )

In [4]:
 zip( ['adam','bob','carl'] , [25, 19, 30] )  # output of a zip function

In [5]:
people == people2

True

You can then access the value by using the key.

In [6]:
people['bob']

19

In [7]:
people.get('bob') # can also be done with method get()

19

In [8]:
people['joe']

KeyError: 'joe'

In [9]:
print(people.get('joe') ) # if you use get() and it does not find, returns None

None

In [10]:
d = {2:[20, 4, 5], 1:10}  # keys can be numeric, values can also be lists

In [11]:
d[2]

[20, 4, 5]

In [12]:
d[1]

10

Dictionaries are inherrently unordered, so you cannot use numeric indexes. If you provide a number, that number needs be a key in the dictionary.

In [13]:
people[0]

KeyError: 0

You can use key mapping to create new entries in the dictionary too.
You can also use it to modify the value associated with a key.

In [14]:
people

{'adam': 25, 'bob': 19, 'carl': 30}

In [15]:
people['derek'] = 33  # new entry
people['adam'] = 26   # modifies existing key-value pair

In [16]:
people

{'adam': 26, 'bob': 19, 'carl': 30, 'derek': 33}

To remove a key, use del

In [17]:
del people['carl']

In [18]:
people

{'adam': 26, 'bob': 19, 'derek': 33}

In [19]:
people.pop()  # pop method requires a key that exists in the dictionary

TypeError: pop expected at least 1 arguments, got 0

In [20]:
people.pop('adam')

26

In [21]:
print(people)

{'bob': 19, 'derek': 33}

`dict.update()` can be used to add more keys from another dictionary

In [22]:
peopleA = {'adam':25 , 'bob': 19, 'carl': 30}

In [23]:
peopleB = {'dave':35 , 'earl': 22, 'fred': 27}

In [24]:
peopleA.update(peopleB)

In [25]:
peopleA

{'adam': 25, 'bob': 19, 'carl': 30, 'dave': 35, 'earl': 22, 'fred': 27}

If the dictionary used to update has keys that exist in the first dictionary, the keys will be overwritten with the updated keys.

In [26]:
peopleA

{'adam': 25, 'bob': 19, 'carl': 30, 'dave': 35, 'earl': 22, 'fred': 27}

In [27]:
peopleC = {'fred':99 , 'gary': 18}

In [28]:
peopleA.update(peopleC)

In [29]:
peopleA

{'adam': 25,
 'bob': 19,
 'carl': 30,
 'dave': 35,
 'earl': 22,
 'fred': 99,
 'gary': 18}

## Dictionary view objects

Dictionaries support dynamic view objects. This means that the values in the view objects change when the dictionary changes.

the view objects are

- `dict.keys()`
- `dict.values()`
- `dict.items()`

In [30]:
people = {'adam':25 , 'bob': 19, 'carl': 30}

In [31]:
people

{'adam': 25, 'bob': 19, 'carl': 30}

In [32]:
names = people.keys()
ages = people.values()

In [33]:
names

dict_keys(['adam', 'bob', 'carl'])

In [34]:
ages

dict_values([25, 19, 30])

In [35]:
# I create a new key-value pair in the dictionary
people['ed'] = 40

In [36]:
# without redefining what names or ages are, the view object updates
names

dict_keys(['adam', 'bob', 'carl', 'ed'])

In [37]:
ages

dict_values([25, 19, 30, 40])

view objects support only a few functions: `len()` or `in`

If you need to do more, you can convert them to a list or other iterable type, but you'll lose the dynamic quality

In [38]:
len(ages)

4

In [39]:
35 in ages

False

In [40]:
age_list = list(ages)

In [41]:
age_list

[25, 19, 30, 40]

In [42]:
# add a new key-value pair in the dictionary
people['frank'] = 29

In [43]:
ages # the view object is dynamic

dict_values([25, 19, 30, 40, 29])

In [44]:
age_list # the list created earlier is not

[25, 19, 30, 40]

# Flow Control

# if-elif-else

The basic statement for flow control is the if-elif-else conditional statement.

- There is no need to use parenthesis in the conditional statements.
- Use a colon to end the conditional statement.
- The code associated with the conditional statement must be indented.
- `elif` (else if) and `else` must be on the same level of indentation as the first `if` statement.

In [45]:
x = -3

if x == 0:
    print(x, 'is zero')
elif x > 0:
    print(x, 'is positive')
else:
    print(x, 'must be negative')

-3 must be negative

Like other languages, the `elif` or `else` statements are only executed if the original `if` statement is false

In [46]:
x = 100

if x > 0:
    print(x, 'is positive')
elif x > 3:
    print(x, 'is greater than 3')  # will not get executed
else:
    print(x, 'is zero or negative')

100 is positive

# for loops

You can use a for loop iterate commands over an iterable object (list, tuple, range, strings, etc.)

In [47]:
values = [5, 7, 2, 1]
y = 0
for x in values:
    print(x)
    y += x  # short for y = y + x
    print('running sum is:', y)

5
running sum is: 5
7
running sum is: 12
2
running sum is: 14
1
running sum is: 15

In [48]:
for a in "ucla ucla":
    print(a.upper() + "!")

U!
C!
L!
A!
 !
U!
C!
L!
A!

In [49]:
people

{'adam': 25, 'bob': 19, 'carl': 30, 'ed': 40, 'frank': 29}

In [50]:
people.items()

dict_items([('adam', 25), ('bob', 19), ('carl', 30), ('ed', 40), ('frank', 29)])

In [51]:
for key, value in people.items():
    print('the key is ' + key)
    print('the value is ' + str(value))

the key is adam
the value is 25
the key is bob
the value is 19
the key is carl
the value is 30
the key is ed
the value is 40
the key is frank
the value is 29

## The range object

If you want just a sequence of numbers, you can use a `range()` object.

`range(10)` is similar to calling 0:9 in R. It creates a range of indexes that is 10 items long, but begins with index 0.

the general format is 

`range( start , end , step size)`

by default, the range will begin at the start value, increment by step size, and go up to but not include the end value

In [52]:
range(10)

range(0, 10)

In [53]:
for i in range(10):
    print(i, end = ' ') 
    # the end argument tells python to use a space rather than a new line

0 1 2 3 4 5 6 7 8 9

In [54]:
range(5,10)  # creates a range from 5 up to but not including 10

range(5, 10)

In [55]:
list(range(5,10))  # if you want to see the actual values, throw in list

[5, 6, 7, 8, 9]

In [56]:
list(range(0, 20, 2))  # range from 0 to 20 by 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [57]:
list(range(0, 21, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
list(range(0, 20.1, 2))  #does not accept floats as arguments

TypeError: 'float' object cannot be interpreted as an integer

# while loops

the loop runs until the condition is false

In [59]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [60]:
i

10

## break and continue

- The break statement breaks-out of the loop entirely
- The continue statement skips the remainder of the current loop, and goes to the next iteration

In [61]:
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

an example to create fibonacci numbers

In [62]:
a, b = 0, 1   # you can assign multiple values using tuples
amax = 100    # set a maximum value
L = []

while True:    # the while True will run forever until it reaches a break
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Functions

We call functions by writing the function name and parenthesis.

In [63]:
print  # does not call the function

In [64]:
print('hello')  # calls the function

hello

In [65]:
print(1,2,3)

1 2 3

In [66]:
print(1,2,3, sep = '-')

1-2-3

You can view the reference by using `help(functionname)` 

or `?functionname` which will call the pager

In [67]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [68]:
?print

## Defining a function

To define a new function, use the statement 

`def functionname(arguments):`

The function needs to use `return` to return an object

In [69]:
def shouting(phrase):
    shout = phrase.upper() + '!!!'
    return shout

In [70]:
shouting('hi my name is miles')

'HI MY NAME IS MILES!!!'

In [71]:
shouting(5)

AttributeError: 'int' object has no attribute 'upper'

In [72]:
def shouting(phrase):
    # attempt to convert the input object to a string
    shout = str(phrase).upper() + '!!!'
    return shout

In [73]:
shouting(5)

'5!!!'

In [74]:
shouting({'a':2,'b':3})   # perhaps this doesn't make sense

"{'A': 2, 'B': 3}!!!"

A function can return multiple values as a tuple

In [75]:
def powersof(number):
    square = number ** 2
    cube = number ** 3
    return number, square, cube

In [76]:
powersof(3)

(3, 9, 27)

In [77]:
x, y, z = powersof(3)

In [78]:
print(x)

3

In [79]:
print(y)  # all of the values are stored separately
print(z)

9
27

In [80]:
j = powersof(4)  # you can just capture the tuple as a single object

In [81]:
print(j)

(4, 16, 64)

In [82]:
j[0]

4

In [83]:
# not allowed - a mismatch between values to assign and values returned
g, h = powersof(5)

ValueError: too many values to unpack (expected 2)

# Default arguments

you can also specify default arguments that will be used if they are not explicitly provided

In [84]:
# example without defaults
def stuff(a, b, c):
    print(a, b, c)

In [85]:
stuff(1,2,3)

1 2 3

In [86]:
stuff(1, 2) # if you do not provide the correct arguments, you get an error

TypeError: stuff() missing 1 required positional argument: 'c'

In [87]:
# example with defaults
def junk(a=1, b=2, c=3):
    print(a, b, c)

In [88]:
junk()

1 2 3

In [89]:
junk(4) # specifying only one will put it in the first argument

4 2 3

In [90]:
junk(b = 4)

1 4 3

In [91]:
junk(5, 10, 0)

5 10 0

In [92]:
junk(5, a=10, b =0) # python will get confused

TypeError: junk() got multiple values for argument 'a'

In [93]:
junk(c=5, a=10, b = 0)

10 0 5